<!DOCTYPE html>
<html>
<head>
    <title>API Data Display</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <h1>API Data</h1>
        <ul>
            {{#each data}}
            <li>
                <strong>API:</strong> {{this.API}} <br>
                <strong>Description:</strong> {{this.Description}} <br>
                <strong>Auth:</strong> {{this.Auth}} <br>
                <strong>Link:</strong> {{this.Link}} <br>
                <strong>Category:</strong> {{this.Category}} <br>
            </li>
            {{/each}}
        </ul>
    </div>
</body>
</html>
